################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/back/bin
/back/obj
/back/back.csproj.user
